extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		h2!= post.title
		if post.image.exists
			img(src=post._.image.fit(160,160)).img.pull-right
		p!= post.content.full

block content
	.container: .row
		.col-sm-8.col-md-9
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
					.blog
						each post in data.posts.results
							+post(post)
