extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/pkuaasa.jpg', width='160')
		h1 Welcome
		p This is the website of Peking University Alumni Assosication Sydney Australia (PKUAASA).
		p It's work in progress.
